@font-face {
    font-family: space;
    src: url("SpaceGrotesk-VariableFont_wght.ttf");
}

.box-container{
    
    background-color: #192838;
    
    color: #11ba8c;
    outline: auto;
    margin: 50px;
    padding: 2%;
    border-radius: 10px;
    border-style: none;
}

.MonitorInformation{
    border-style: solid;
    border-width: 1px;
    /* border-color: black; */
    border-radius: 10px;
    padding: 3%;

}
.otherinfo{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px; 
    padding: 3%;
}
#btnSubmit{
    color: #11ba8c;
    border-color: #11ba8c;
    background: none;
}
#btnSubmit:hover{
    background-color:#11ba8c;
    color: #192838;
}
#lbl{
    font-weight: bold;
}
input{
    background-color: #71b7e6;
}
#dtBrand{
    color: #192838;
}
